html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #12192b;
}
/*
div {
  border: 1px solid chocolate;
}*/


/**universal**/

.content {
  padding: 0 50px;
  margin: 0 50px;
}


/*top nav style*/


.top-nav {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
  /*border: 1px solid white;*/
  position: fixed;
  z-index: 100;
  background-color: #12192b;

}

.logo {
  height: 100px;
}

/**ig pics**/

.ig-container {
  padding-top: 140px;
  width: 100%;
  /*border: 1px solid white;*/
  text-align: center;
}

.box {
  position: relative;
  overflow: hidden;
  display: inline;
  width: 33.3333333%;
  margin: 0 auto;
  float: left;
  padding: 5px;
}


.pic {
  width: 100%;
  height: 100%;
}


.overlay {
  margin: 5px auto;
  position:absolute;
  background-color: #da2e3c;
  top:0;
  opacity: 0.915;
  display:none;
}

.caption {
  position:absolute;
  margin: 0;
  top: 40%;
  left:0;
  padding: 0 50px;
  color: #fffeff;

}

/*.box:hover {
  background-color: black;
}*/

/*.pic-size {
  width: 33.33333%;

}*/


/** media query **/

@media (max-width: 720px) {
  .box {
    width: 50%;
  }
}
